<?xml version="1.0"?>
<!--
/**
 * @category    Door2
 * @package     Door2_Catalog
 * @author      Manigesh
 */
-->
<config>
    <modules>
        <Door2_Catalog>
            <version>1.0.2</version>
        </Door2_Catalog>
    </modules>
    <global>
        <resources>
            <door2_catalog_setup>
                <setup>
                    <module>Door2_Catalog</module>
                </setup>
            </door2_catalog_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <product_gallery>Door2_Catalog_Block_Product_Gallery</product_gallery>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product_attribute_backend_media>Door2_Catalog_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_attribute_backend_media>Door2_Catalog_Model_Resource_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource>
        </models>
    </global>
</config>



